.cart {
    width: 80%;

    table {
        thead {
            th {
                text-align: center;
            }
        }
        
        img {
            height: 50px;
        }

        tbody {
            td {
                text-align: center;

                button {
                    border: 1px solid black;
                    background: transparent;
                    border-radius: 5px;
                    padding: 0 5px 0;
                }

                button:nth-child(1) {
                    margin-right: 6px;
                }

                button:nth-child(2) {
                    margin-left: 6px;
                }
            }
        }

        .total-price {
            text-align: right;
            font-weight: bold;
            font-size: 2.5em;
        }
    }

    .total-items {
        font-weight: bold;
        font-size: 2em;
    }
}

@media (min-width: 481px) {
    table {
        tbody {
            tr {
                td:nth-child(4) {
                    button {
                        background-color: transparent;
                        border-radius: 5px;
                    }

                    button:nth-child(1) {
                        margin-right: 10px;
                    }

                    :last-child {
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .cart {
        h1:nth-child(1) {
            font-size: 3rem;
        }

        .total-items {
            font-weight: normal;
        }

        table {
            tbody {
                tr:last-child {
                    td {
                        font-size: 2em;
                        font-weight: normal;
                    }
                }
            }
        }
    }

    .mobile {
        display: none;
    }
}