.products {
    .product-details {
        .product-price {
            font-size: 3.5em;
            font-weight: bold;
        }

        .carousel {
            .indicators {
                background-color: #eee;
            }
        }

        .add-to-cart {
            font-size: 2em;

            .qty-container {
                margin: 0 30px;

                button {
                    margin: 0 12px;
                }

                .product-qty {
                    padding: 5px 15px;
                    position: relative;
                    top: 5px;
                    background-color: #efefef;
                }
            }

            button {
                position: relative;
                top: 2px;
            }
        }
    }

    .product-list {
        // background-color: hotpink;
        .product-card {
            .card {
                margin: 15px 0 0 0;

                .card-image {
                    height: 25vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    img {
                        max-height: 20vh;
                        width: auto;
                    }
                }

                .card-content {
                    padding: 10px 20px;

                    .card-title {
                        margin: 0;
                    }
                }
            }
        }
    }
}
