
.ws-modal {
    display: flex;
    background-color: rgba(0, 0, 0, .75);
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;

    .ws-modal-content {
        background-color: #fff;
        width: 80%;
        margin: auto;
        padding: 20px;

        h1 {
            margin: 10px 0 10px;
            font-size: 3rem;
        }

        .row {
            font-size: 1.5rem;
            margin-bottom: 0;
            
            div {
                padding: 0 .1rem;
            }
        }

        .ws-modal-actions {
            margin-top: 10px;

            button {
                margin-bottom: 10px;
            }

            button:nth-child(1) {
                margin-right: 10px;
            }

            button:nth-child(2) {
                margin-left: 10px;
            }
        }
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    .ws-modal {
        .ws-modal-content {
            width: 75%;
            margin: auto;
        }
    }
}

@media (min-width: 1025px) {
    .ws-modal {
        .ws-modal-content {
            margin: auto;
            width: 60%;

            h1 {
                margin: 10px 0 10px;
                font-size: 3rem;
            }
        }
    }
}
