.home {
    height: 90vh;
    width: 100vw;
    background:
        linear-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2)),
        url('http://res.cloudinary.com/simpleview/image/upload/v1540379205/clients/norway/5e2ac9d9_7135_41a5_9937_e22fdb29324e_fcc973e1-f71a-44a3-9fd2-2e5202d625df.jpg')
        no-repeat center;
    background-size: cover;
    
    .home-title {
        h1, p {
            margin: 0;
        }
    }
}