nav {
    padding: 0 12px;
    height: 10vh;

    .sidenav-cart {
        display: none;
    }
}

.cart-link {
    position: relative;

    i.cart-icon {
        font-size: 32px;
    }

    .cart-items {
        background-color: yellow;
        border-radius: 50%;
        position: absolute;
        top: 10px;
        right: 40px;
        color: #000;
        line-height: 20px;
        width: 20px;
        display: inline-block;
        text-align: center;
        font-size: 12px;
    }
}

.sidenav {
    .cart-link {
        .cart-icon {
            display: none;
        }

        .cart-items {
            border-radius: 0;
            padding: 4px 26px;
            width: auto;
            background-color: red;
            color: white;
        }
    }
}
