nav {
    padding: 0 12px;
    height: 10vh;

    .sidenav-cart {
        display: none;
    }

    .nav-wrapper {
        line-height: 10vh;

        .brand-logo {
            text-transform: uppercase;
        }
        
        ul {
            height: 100%;

            li:last-child {
                height: 10vh;

                a {
                    height: inherit;
                }
            }
        }
    }
}

.cart-link {
    i.cart-icon {
        text-align: center;
        font-size: 32px;
    }

    p {
        line-height: 1;
    }
}

.sidenav {
    .cart-link {

        .cart-items {
            position: absolute;
            right: 0;        
            padding: 0 26px;
            width: auto;
            background-color: red;
            margin-right: 20px;
            color: white;
        }

        .side-nav-cart {
            margin: 0;
            width: 100%;

            i {
                color: black;
                font-style: none !important;
            }

            span {
                height: 48px;
                padding-top: 17px;
                margin-right: 20px;
            }
        }
    }
}

@media (max-width: 1024px) {
    nav {
        .nav-wrapper {
            .sidenav-trigger {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            ul {
                display: none;
            }
        }
    }

    #sidenav {
        li {
            .cart-link {
                .cart-icon {
                    display: none;
                }
            }
        }
    }
}

@media (min-width: 1025px) {
    nav {
        .nav-wrapper {
            .brand-logo {
                margin-left: 20px;
            }
            
            ul {
                li:last-child {
                    width: 100px;
                }

                li {
                    .cart-link {
                        position: relative;

                        .cart-icon {
                            height: 54px;
                        }

                        .view-cart {
                            margin: 0;
                            position: absolute;
                            width: 75px;
                            left: 17px;
                            top: 15px;
                        }

                        .side-nav-cart {
                            font-size: 1em;
                            height: 24px;
                            line-height: 1;
                        }

                        .cart-items {
                            background-color: yellow;
                            border-radius: 50%;
                            color: #000;
                            line-height: 20px;
                            width: 20px;
                            height: 20px;
                            display: inline-block;
                            text-align: center;
                            font-size: 12px;
                            position: absolute;
                            top: 10px;
                            right: 25px;
                        }
                    }
                }
            }
        }
    }
}
